html, body, #main-container,
#main-container .container-fluid,
#main-container .row,
#main-container .row > div,
#main-container .card, 
#main-container .card-body{
    height: 100%;
}

.todo-item:hover{
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .search-form input {
        margin-bottom: 0.5rem;
    }
    .search-form > div {
        align-items: stretch !important;
    }
}

@media screen and (max-width: 474px) {
    .todo-item .exc-time {
        display: none;
    }
}